<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Real Time Sensor Display Using Python, Flask, Flask-SocketIO</title>
    
    <link href="static/bootstrap-5.2.3-dist/css/bootstrap.min.css" rel = "stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
    <link
      href="//mincss.com/entireframework.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="{{url_for('static', filename = 'css/app.css')}}" rel="stylesheet">
  </head>
  <body>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/app.js') }}"></script>

    <div class="container-fluid p-2 bg-primary text-white text-center">
      <h1>Sensor Anomaly Detection</h1>
      <p>using ARIMA Model!</p>
      <button onclick="SwitchModel()">Click me</button>
    </div>

    <!-- <button class="btn-close btn btn-sm">hello</button> -->

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <h1>Sensor Value</h1>
          <div class="chart-container">
            <canvas id="myChart" width="1000" height="600"></canvas>
          </div>
        </div>
        <div class="col-sm-6">
          <h1>Predicted value</h1>
          <div class="chart-container">
            <canvas id="myChart_2" width="1000" height="600"></canvas>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>